 @import url(reset.css);


img{
    width: 100%;
}
h2{
    font-size: 32px;
    font-weight: bold;
    color: #37523D;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 16px;
}
p{
    color: #37523D;
    text-align: center;
    padding-bottom: 16px;
}
.content{
    margin: 0 auto;
 }
.works-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.works-list li{
    width: 33%;
    border: 1px solid #000;
}

